Extract_burned.pickle filter=lfs diff=lfs merge=lfs -text
x_test.pickle filter=lfs diff=lfs merge=lfs -text
Extract_normal.pickle filter=lfs diff=lfs merge=lfs -text
burned_skin_x.pickle filter=lfs diff=lfs merge=lfs -text
hot_burned_skin_y.pickle filter=lfs diff=lfs merge=lfs -text
normal_skin_x.pickle filter=lfs diff=lfs merge=lfs -text
normal_skin_y.pickle filter=lfs diff=lfs merge=lfs -text
x.pickle filter=lfs diff=lfs merge=lfs -text
y_test.pickle filter=lfs diff=lfs merge=lfs -text
Full_size_burn_images filter=lfs diff=lfs merge=lfs -text
burned_skin_y.pickle filter=lfs diff=lfs merge=lfs -text
hot_normal_skin_y.pickle filter=lfs diff=lfs merge=lfs -text
hot_y_test.pickle filter=lfs diff=lfs merge=lfs -text
y.pickle filter=lfs diff=lfs merge=lfs -text
