plot.py filter=lfs diff=lfs merge=lfs -text
burn_shape.py filter=lfs diff=lfs merge=lfs -text
data.sh filter=lfs diff=lfs merge=lfs -text
logs filter=lfs diff=lfs merge=lfs -text
shape_extract.py filter=lfs diff=lfs merge=lfs -text
GPU.py filter=lfs diff=lfs merge=lfs -text
optimized_params.pkl filter=lfs diff=lfs merge=lfs -text
roc.sh filter=lfs diff=lfs merge=lfs -text
roc.py filter=lfs diff=lfs merge=lfs -text
roc_curve.png filter=lfs diff=lfs merge=lfs -text
tensorflow-gpu.sh filter=lfs diff=lfs merge=lfs -text
Model.py filter=lfs diff=lfs merge=lfs -text
Zoomed.png filter=lfs diff=lfs merge=lfs -text
best_params.pickle filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
eval.sh filter=lfs diff=lfs merge=lfs -text
extract_shape.sh filter=lfs diff=lfs merge=lfs -text
output filter=lfs diff=lfs merge=lfs -text
train.py filter=lfs diff=lfs merge=lfs -text
Burn_images.model filter=lfs diff=lfs merge=lfs -text
Data.py filter=lfs diff=lfs merge=lfs -text
Evaluation.py filter=lfs diff=lfs merge=lfs -text
